/*body {
    background: linear-gradient(to bottom ,  #4389a2, #5c258d);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    min-height: 97.6vh;
  }

.textarea {
    width: 60%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    resize: none;
    font-size: 1.0em;
    display: block;
    margin: 0 auto;
  }

  input {
    display: inline-block;
    padding: 5px 120px;
    border: none;
    border-radius: 5px;
    background-color: #4389a2;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: block;
    margin: 0 auto;
    
  }
  
  input:hover {
    background-color: #27ae60;
  }

  #icon1 {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    padding-top: 7%;
    animation: flip 3s infinite; 
  }
  
  @keyframes flip {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
    100% { transform: rotateY(0deg); }
  }
  
  
  #icon {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    padding-top: 5%;
  }

h2, h3{
    text-align: center;
}
p{
    text-align: center;
    margin-top: 0;
    
}

#instructions{
    text-align: center;
}

.keyword-container {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  font-size: 1.0em;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: #fff;
}

.keyword {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #4389a2;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #4389a2;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#button-container {
  text-align: right;
}
#icon2 {
  width: 80px;
  height: 20px;
  display: block;
  margin: 0 auto;
  
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}


.theme-bg-surface {
  background-color: #f0f2f5;
}

.theme-bg-primary {
  background-color: transparent;
  color: #ffffff;
}


.card {
  border-radius: 6px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
}

.card-body {
  padding: 20px;
}


.table {
  margin-bottom: 0;
}

.table thead th {
  background-color: #5c258d;
  color: #1890ff;
  font-weight: bold;
  text-decoration: underline;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(33, 99, 221, 0.329);
}

.table-hover tbody tr:hover {
  background-color: #65b0d3;
  cursor: pointer;
}




.spinner-border {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
  
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}



.btn-danger {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #4389a2;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: block;
  margin: 0 auto;
}

.btn-danger:hover {
  background-color: #ff3333;
  color: #ffffff;
}

#power{

  padding-top: 3%;
}

.custom-loader {
  width: 50px;
  height: 50px;
  display: none;
  border:4px solid #0000;
  border-radius: 50%;
  border-color:#9BEDB0 #0000;
  animation: s6 1s infinite linear;
  margin: 0 auto;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  margin:2px;
  border:inherit;
  border-radius: 50%;
}
.custom-loader::before {
  border-color:#0B0105 #0000;
  animation:inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.custom-loader::after {
  margin:8px;
}

@keyframes s6 { 
  100%{transform: rotate(1turn)}
}
*/
.theme-bg-surface{
  background-color: #F6F1F1 !important;
}

.theme-bg-primary{
  background-color: #FFFFFF !important;
}

.theme-bg-secondary{
  background-color: #19A7CE !important;
}

.theme-bg-tertiary{
  background-color: #146C94 !important;
}

.theme-bg-text{
  color: #146C94 !important;
}

.form-textarea{
  height: 75px !important;
}
#instructions{
  text-align: center;
}
.form-control {
  width: 60%;
  padding: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  resize: none;
  font-size: 1.0em;
  display: block;
  margin: 0 auto;
}
input {
  display: inline-block;
  padding: 5px 120px;
  border: none;
  border-radius: 5px;
  background-color: #4389a2;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: block;
  margin: 0 auto;
  
}

input:hover {
  background-color: #27ae60;
}
body{
  font-family: Helvetica, sans-serif;
  background:#23242a;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 97.6vh;
}
.dropdown {
  min-width: 15em;
  position: relative;
  margin: 2em;
}
  
.dropdown *{
      box-sizing: border-box;
}
.select{
  background: #2a2f3b;
  color: #ffffff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding:1em;
  cursor:pointer;
  transition: 0.3s;
}
.select-clicked{
  border: 2px #ffffff solid;
  box-shadow: 0 0 0.8em #26489a;
}
.select:hover{
  background:#323741;
}
.caret{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}
.caret.rotate{
  transform:rotate(180deg);  
}
.menu{
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0,0, 0, 0.2);
  border-radius: 0.5em;
  color:#ffffff;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}
.menu li{
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.active{
  background: #23242a;
}
.menu-open{
  display:block;
  opacity: 1;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;

}

.round {
  border-radius: 50%;
}

.icon1 {
  width: 90px;
  height: 60px;
  display: block;
  margin: 0 auto;
  
}

.icon2 {
  width: 80px;
  height: 50px;
  display: block;
  margin: 0 auto;
  
}

.question-container {
  display: none;
  padding: 5px 10px;
  border: 1px solid #4389a2;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #4389a2;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


h1{
  text-align: center;
}

p{
  text-align: center;
  color: white;
}
